---
import Layout from "../layouts/Layout.astro";
import Navegation from "../components/navegation.astro";
---
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.avif" />
    </head>
    <body>
        <div class="contenedor"></div>
        <nav>
            <div class="Logo">
                <a href="/proyect"><img src="/halltecLogo.avif" alt="Logo no Original de Halltec" /></a>
            </div>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
        <section>
            <div class="info">
                <h1 class="titleFirst">Centro Tecnologico</h1>
                <p class="services">
                    Diseño Web| Diseño Grafico| Aplicaciones Moviles| Coworking| Asesorias
                </p>
            </div>
            <div class="formulario">
                <h1>Contáctanos</h1>
                <input class="inputs" type="text" name="nombre" id="nombre" placeholder="ingrese su nombre">
                <input class="inputs" type="email" name="email" id="email" placeholder="ingrese su correo electronico">
                <input class="inputs" type="number" name="telefono" id="telefono" placeholder="ingrese su numero de contacto">
                <button class="contactar" id="contactar" >Contactar</button>
            </div>
        </section>
    </body>
</html>



<!--TODO////
AÑADIR INFORMACION EN LA SIGUIENTE SECTION
-->

<style>
    body{
        background: url("halltec-coworking.avif");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: sans-serif;
        color: white;   
    }
    .contenedor{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.636);
        z-index: -1;
    }
    section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        text-align: center;
        padding: 2rem;
    }
    nav{
        margin-bottom: 2rem;
    }
    .contactar{
        border: none;
        border-radius: 5px;
        background-color: rgb(242, 78, 75);
        width: 70%;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: white;
        font-size: 20px
    }
    .formulario h1{
        font-size: 4rem;
        margin-top: 0px;
        margin-bottom: 5px;
        padding: 2rem;
        text-align: center;
        color: black;
    }
    .formulario{
        margin: 20px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
    }
    .inputs{
        font-size: 18px;
        border-radius: 4px;
        border: solid 1px ;
        width: 450px;
        padding: 15px;
        margin: 10px;
    }
    .services{
        font-family: monospace
    }
    .titleFirst{
        color: white;
        font-size: 6rem;
        line-height: 1;
        padding-bottom: 10px;     
        margin-bottom: 0px;
    }
    .Logo{
        display: flex;
        justify-content: center;
    }
    a{
        color: white;
        text-decoration: none;
        transition: 100ms;
    }
    a:hover{
        color: #FF1A2B; 
        transition: 100ms
    }
    nav {
        height: 80px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 800px;
        align-items: center;
    }
    li{
        transition: 300ms;
    }
    li:hover{
        font-size: 25px;
        transition: 100ms;  
    }
    ul {
        grid-column-start: 2;
        font-size: 20px;
        margin-right: 8rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 10px;
        color: white;
        text-align: center;
        list-style: none;
    }
    img {
        width: 200px;
        height: auto;
        transition: 500ms
    }
    img:hover{
        
        width: 250px;
        height: auto;
        transition: 300ms;
    }
    @media screen and (max-width: 980px) {
    	section{
            display: grid;
            grid-template-columns: repeat(1, 2fr);
            gap: 2rem;
        }
        .contenedor{
            background-color: rgba(0, 0, 0, 0.382);
        }
        h1{
            margin-top: 0;
        }
        img{
            margin-left: 2rem;
        }
        nav{
            gap: 3rem;

        }
        .titleFirst{
            font-size: 7rem;
        }
        .formulario{
            margin-left: 7rem;
            margin-right: 7rem;
        }
        ul{
            display: none;
        }
	}
</style>
