---
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';

const pageTitle = "Pagina de Inicio";
---

<Layout title={pageTitle}>
	<main>
		<Header/>	
		<h1>ESTA ES MI PRIMER PAGINA WEB CON ASTRO DESPLEGADA EN INTERNET</h1>
		<Footer/>
	</main>
	
	
</Layout>

<script>
	document.querySelector('.hamburger').addEventListener('click',()=>{
		document.querySelector('.nav-links').classList.toggle('expanded');
		console.log('presiono el boton');
	});
</script>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	@media screen and (max-width: 510px) {
    	h1{
        	font-size: small;
			transition: 300ms;
    	}
	}
		
</style>
