---
import Layout from "../layouts/Layout.astro"
import Navegation from "../components/navegation.astro"
import Footer from "../components/footer.astro"
---

<Layout title="Todos mis proyectos">
        <Navegation/>
        <h1>En esta pagina estan todos los proyectos y las paginas Reimaginadas, por lo que todos los derechos corresponden a cada pagina correspondiente</h1>
        <h4>PROYECTOS</h4>
        <ul>
                <li><a href="/halltecRemain"><img src="/halltecLogo.avif" alt="Pagina no oficial"></a></li>
                <li></li>
                <li></li>
        </ul>

        <Footer/>
</Layout>

<style>
        img{
                width: 100px;
                height: auto;
        }
        h4{
                text-align: center;
                border-top: solid 1px
        }
        li{
                list-style: none;
        }
        h1 {
		font-size: 4rem;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
        @media screen and (max-width: 510px) {
    	        h1{
        	font-size: 2rem;
		transition: 300ms;
		border-top: solid 1px;
		padding-top:  2rem;
	        margin-top: 1rem;
    	}
	}
</style>

