---
import Social from "./social.astro";
---

<footer>
  <div class="footer">
    <div class="links">
      <Social platform="linkedin" username="in/carlosariasdev" />
      <Social platform="github" username="CEstebanARIAS" />
      <Social platform="instagram" username="esteban_.ac" />
    </div>
    <div class="media">
      <a href="https://www.linkedin.com/in/carlosariasdev"><img src="/linkedin.png" alt="Linkedin"></a>
      <a href="https://www.github.com/CEstebanARIAS"><img src="/github.png" alt="GitHub"></a>
      <a href="https://www.instagram.com/esteban_.ac"><img src="/instagram.png" alt="Instagram"></a>      
    </div>
    <div class="morInfo">
      <p>
       Copyright © 2024 Esteban
      </p>
    </div>
   
  </div>
</footer>




<style>
  .media{
    display: none;
  }
  .footer{
    border-top: solid 1px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    grid-auto-columns: min-content;
    font-size: 1rem;
  }
  
  .links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: top;
  }
  img{
    width: 20px;
    height: 20px;
  }
  p{
    
    display: flex;
    margin-top: 0;
    justify-content: end;
    font-size: small;
    color: rgba(181, 181, 181, 0.27);
  }
  a:hover {
    color: gray;
  }
  @media screen and (max-width: 512px) {
    .footer{
      gap: 30px;
      grid-template-columns: 90px 1fr;
    }
    .links{
      display: none;
    }
    .media{
      display: unset;
      margin-top: 3px;
    
    }
    a:hover{
      
    }
  
  }
</style>
